.profile__edit-button {
  background-color:  #000000;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: center;
  display: inline;
  padding: 0;
  background-image: url(../../../images/button-edit.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media (max-width:640px){
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    height: 18px;
    width: 18px;
  }
}
