.body {
  background: #000000;

  font-family: Inter, Arial, sans-serif;
  }

.hr {
    /*display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

    height:2px;
    border-width:0;
    color:gray;
    background-color:gray*/

    /*opacity: 0.7;
    border: 1px
    solid #545454;*/
  }


  .page {
		margin: 0 auto;
		color: #fff;
		max-width: 1280px;
  }
  .header {
		max-width: 880px;
		margin: 45px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 41px;
  }
  .header__logo {
		object-fit: fill;
    max-width: 142px;

  }
  .header__hr {
    opacity: 0.7;
    border: 1px
    solid #545454;
  }

  .content {
  }
  .profile {
    display: flex;
    justify-content: flex-start;
    margin: 40px auto 0;
    max-width: 880px;
  }
  .profile__avatar {
    border-radius: 50%;
  }

  .profile__info {
    margin-top: 22px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

      }

  .profile__name {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
  }
  .profile__about {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .profile__edit-button {
    margin-left: 18px;
    margin-top: 37px;
    background-color:  #000000;;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .profile__edit-button-img{
    margin: auto;
    width: 10px;
    height: 10px;

  }
  .add-button {
    margin-left: 244px;
    margin-top: 35px;
    background-color:  #000000;;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    cursor: pointer;
  }

  .add-button-img{
    margin: auto;
    width: 22px;
    height: 22px;


  }

  .gallery {
    display: grid;
    max-width: 880px;
    margin: 47px auto 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;

  }
  .card {
    width: 282px;
    height: 361px;
    background-color: #FFFFFF;
    color:  #000000;;
    border-radius: 10px 10px 10px 10px;
  }

  .card__info{
    display: flex;
    align-content: center;
    max-width: 246px;
    margin:23px 18px 0 21px;
  }
  .card__picture {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    object-fit: scale-down;
  }
  .card__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 220px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .card__like-button{
    background-color: #FFFFFF;
    padding: 0;
    border: 0px;
    width: 22px;
    height: 19px;
    cursor: pointer;
    margin:auto 0 auto auto;


  }
  .card__like-button-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .footer {
    margin:67px auto 60px 200px;
  }

  .footer_cp {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.popup__container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  background:rgba(255,255,255,1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
  height: 330px;
  margin-left: -215px; /*Half the value of width to center div*/
  margin-top: -175px; /*Half the value of height to center div*/
  /*z-index: 200;*/

}

.popup_opened{
   display: block;
}
.popup_close {
  position: relative;
  padding: 0;
  width: 32px;
  height: 32px;
  /*margin-right: -40px;*/
  margin-left: 438px;
  margin-top: -40px;
  cursor: pointer;
}

.popup__close-img{
  background-color: #000000;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.popupcontent {
  padding: 10px;
}

input, button {
  border: none;
}

/*.input {
  display: flex;
  flex-direction: column;

}*/

.input_title{
  width: 330px;
  height: 23px;
  margin: 34px 64px 0 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

}


.input__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 27px;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 10px;
  box-sizing: border-box;
}

.input__text:focus{
  outline:none;
  border: 2px solid blue;
  border-radius: 3px;
}

.input__text_type_name {
  margin: 54px auto 0;
}
.input__text_type_about {
  margin: 30px auto 0;
}
.form__submit-btn {
  margin: 48px auto 0;
  background-color:  #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 358px;
  height: 50px;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.form__submit-btn_action_add {
}
