.card__trash-button{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 18px;
  height: 19px;
  cursor: pointer;
  border: none;
  background-image: url(../../../images/Trash.svg);
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.card__trash-button:hover{
  opacity: 0.6;
}
